services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: qms-backend:latest
    container_name: qms-backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: qms-postgres
    env_file:
      - database.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432"

volumes:
  postgres_data:
