spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/QMS
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        show_sql: true
        hbm2ddl:
          auto: update

app:
  front-url: "http://localhost:8080"