spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    properties:
      hibernate:
        show_sql: false
        hbm2ddl:
          auto: update

jwt:
  secret: ${JWT_SECRET}

telegram:
  bot:
    token: ${TG_BOT_TOKEN}

app:
  front-url: ${FRONT_URL}
